<header>
    <img src="resurse/Imagini/a.png" alt="logo" class="image-responsive">
</header>
<nav>

    <label id="hamburger" for="ch-menu">
            <img src="resurse/Imagini/burger.png" alt="menu">
        </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <div><i class="fas fa-home fa-lg icon"></i> <span class="home">Acasa</span></div>
            <ul>
                <li><a  href="#anunt"><span class="arrow">&#8594;</span>Anunturi</a></li>
                <li><a href="#preturi"><span class="arrow">&#8594;</span>Prețuri</a></li>
                <li><a href="#anunturi"><span class="arrow">&#8594;</span>Anunturi</a></li>
                <li><a href="#produse"><span class="arrow">&#8594;</span>Oferta</a></li>
                <li><a href="#orar"><span class="arrow">&#8594;</span>Orar</a></li>
                <li><a href="#index-intrebari"><span class="arrow">&#8594;</span>Întrebări</a></li>
                <li><a href="#retete"><span class="arrow">&#8594;</span>Rețete</a></li>
            </ul>
        </li>
        <li><a href="#">Inregistrare</a></li>
       
        <li>
            <div>Produse</div>
            <ul>
                <li><a href="#"><span class="arrow">&#8594;</span>Toate</a></li>
                <li><a href="#">Prajituri</a></li>
                <li><a href="#">Torturi</a></li>
                <li><a href="#">Patiserie</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>