<header>
    <img src="/resurse/Imagini/a.png" alt="logo" class="image-responsive">
</header>
<nav>

    <label id="hamburger" for="ch-menu">
            <img src="/resurse/Imagini/burger.png" alt="menu">
        </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <div><i class="fas fa-home fa-lg icon"></i> <span class="home">Acasa</span></div>
            <ul>
                <li><a  href="#anunt"><span class="arrow">&#8594;</span>Anunturi</a></li>
                <li><a href="#preturi"><span class="arrow">&#8594;</span>Prețuri</a></li>
                <li><a href="#anunturi"><span class="arrow">&#8594;</span>Anunturi</a></li>
                <li><a href="#produse"><span class="arrow">&#8594;</span>Oferta</a></li>
                <li><a href="#orar"><span class="arrow">&#8594;</span>Orar</a></li>
                <li><a href="#index-intrebari"><span class="arrow">&#8594;</span>Întrebări</a></li>
                <li><a href="#retete"><span class="arrow">&#8594;</span>Rețete</a></li>
            </ul>
        </li>
        <li><a href="#">Inregistrare</a></li>
       
        <li>
            <div>Produse</div>
            <ul>
                <li><a href="/produse"><span class="arrow">&#8594;</span>Toate</a></li>
                <li><a href="/produse?tip_merch=haine"><span class="arrow">&#8594;</span>Îmbrăcăminte</a></li>
                <li><a href="/produse?tip_merch=jucarii"><span class="arrow">&#8594;</span>Jucării</a></li>
                <li><a href="/produse?tip_merch=diverse"><span class="arrow">&#8594;</span>Diverse</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <% if (locals.utilizator){ %>
        <li><a href="#"><%- locals.utilizator.username %></a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>

        <% if (locals.utilizator && locals.utilizator.admin==true ){ %>
            
            <li><a href="/useri">Utilizatori</a></li>
            <% } %>
    </ul>
    
    <button id="schimbare-tema"><span class="fas fa-sun"></span>vs<span class="fas fa-moon"></span></button>
</nav>