<hr class="hasier">
<div class='row'>
    <div class='column'>
        <div class='flexboxitem'>
          <a href="https://www.youtube.com/embed/apPsjYs6HmE" target="ifr-video">Maimute</a>
        </div>
          <div class='flexboxitem'>
            <a href="https://www.youtube.com/embed/V3aTpIxIGDg" target="ifr-video" >Ursi</a>
          </div>
          <div class='flexboxitem'><a href="https://www.youtube.com/embed/eY0dvOvGM1A" target="ifr-video" >Vulturi</a>
        </div>
      </div>
      <div class='column'>
        <div class='column2'>
          <iframe name="ifr-video" width="560" height="350" src="https://www.youtube.com/embed/apPsjYs6HmE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </div>
  <section id="MAIN"><h2>Regulament</h2>
    <p> <b>Zoo</b> Toplița are în cadrul Colecției peste 40 de <b>specii</b> de <b>mamifere</b>. De la micuții Tamarini cu creastă albă, <i>Marmosete</i>, <i>Kinkajou</i> până la superbii tigrii siberieni, lei și spectaculosul Leopard al Zăpezilor.
     <b>Mamiferele</b> trăiesc în toate mediile de viață, variind în mărimi de la minusculul liliac – bondar și pănă la balenele albastre, cele mai mari <b>mamifere</b>. În lume există peste 5.000 de <b>specii</b> de <b>mamifere</b>, iar rolul nostru este de a asigura protecția vieții sălbatice.</p>
     
     <section id="QUOTE">
         <h3>QUOTE</h3>
         <blockquote cite="https://www.lazoo.org/">
         From the daily care of animals to educating and inspiring communities to leading species-saving efforts in far-off lands, everything we do has a single unifying goal: to help create a better future for wildlife.
     </blockquote>
     </section>
 </section>
 
 <details><summary>Regulament:</summary>
 
 
 <s>Purtațiv-ă frumos.</s>
     <ins>
             <p>Siguranța Dumneavoastră este o prioritate pentru noi!</p> 

             De aceea:
             <ol>

         <li>–         Vizitatorii trebuie să citească prezentele reguli și să le respecte, cât și să respecte instrucțiunile directe furnizate de personalul ZOO, personalul de pază și indirect transmise prin stația de sonorizare.</li>
         <li>–         Vizitatorii trebuie să aibă un comportament civilizat în cadrul Zoo!</li>
         <li>–         Nu aduceți animalele de companie în grădina zoologică! Luați în considerare această regulă și nu vă aduceți animalele de companie pentru a nu fi obligați să le lăsați în mașină pe parcursul vizitei!</li>
         <li>–         Fumatul este interzis în Zoo!</li>
         <li>–         Utilizați aleile desemnate și marcajele pentru a nu deteriora parcul și proprietatea Grădinii Zoologice, precum și proprietatea altor vizitatori!</li>
         <li>–         Trecerea barierelor sau intrarea în incinte / vecinătatea imediată a incintelor reprezintă o amenințare atât pentru animale, cât și pentru vizitatori și, prin urmare, este strict interzisă.</li>
         <li>–         Respectați programul zilnic afișat în zona de eliberare bilete și anunțurile cu privire la terminarea programului de vizitare!</li>
         <li> –         Copiii cu vârsta sub 14 ani trebuie să fie însoțiți de un adult. Adulții sunt responsabili pentru copiii lor.</li>
         <li>–         Vă rugăm să supravegheați permanent copii!</li>
         <li>–         Nu hrăniți animalele!</li>
         <li> –         Păstrați curată Grădina Zoologică, aruncați deșeurile doar în zonele special marcate și respectați regulile de igienă.</li>
         <li> –         Utilizarea cărucioarelor se face numai de către copiii sub vârsta de 5 ani și sub supravegherea unui adult.</li>
         <li> –         Nu aduceți / utilizați în interiorul Zoo biciclete, triciclete, role, drone , mingi, freesbee, etc.</li>
         <li> –         Nu  aduceți în interiorul Zoo arme, substanțe explozive, combustibili, pirotehnice, substanțe psihotrope sau toxice sau alte obiecte periculoase care v-ar putea afecta sănătatea sau ar putea afecta proprietatea zoo și / sau alte persoane. (nu aduceți în zona animalelor baloane sau alte obiecte gonflabile)</li>
    </ol>
             Dorim să păstrăm un mediu adecvat pentru animale și comportamentul  Dumneavoastră nu trebuie să le afecteze negativ!

             Toate animalele noastre se bucură de o dietă stabilită pe baza nevoilor și comportamentului lor. Pentru a nu le afecta sănătatea și pentru a nu le forma un comportament „cerșetor”, hrănirea este strict interzisă în Grădina Zoologică. Hrănirea animalelor cu gustări specifice omului sau chiar cu iarbă le poate provoca boli.

             Animalele au, de asemenea, nevoie de pauze. Nu încercați să atrageți atenția animalelor prin strigăte, urlete, ciocăniri în pereții de sticlă etc. Radioul și dispozitivele similare trebuie oprite; muzica și zgomotele puternice nu sunt permise.

             Nu aruncati cu pietre/obiecte dure sau contondente înspre padocuri / animale  pentru a le face să apară în cadrul de vizitare.

             Sunteți bineveniți să filmați sau să fotografiați în scopuri private. Fotografiile sau filmările comerciale necesită permisiunea conducerii și plata unei taxe speciale. Vă rugăm să rețineți interdicția de utilizare a blitz-ului în clădiri.

             În cazul în care observați obiecte uitate / abandonate în incintă, vă rugăm să luați legătura cu angajații / personalul de pază pentru identificarea posesorilor în vederea restituirii.

             Informați angajații Grădinii Zoologice cu privire la orice încălcare a Regulamentului  vizitatorilor sau a oricăror circumstanțe periculoase pentru vizitatori sau animale.
         </ins></details>
    
     <details>
         <summary>Regulament în timpul pandemiei</summary>
     <ol>
         <li>Pe parcursul vizitei, este obligatorie purtarea măștii de protecție atât pentru siguranța dumneavoastră, cât și a personalului instituției noastre, atât de dedicat îngrijirii COLECȚIEI DE ANIMALE de care vă bucurați;</li>
         <li>Se recomandă dezinfectarea mâinilor la intrarea/ieșirea din instituție;</li>
         <li>Este interzisă vizita în grupuri mai mari de 4 persoane (recomandat-din aceeași familie);</li>
         <li>Respectați măsurile de distanțare socială (interval de 1,5-2m între persoane);</li>
         <li>Respectați traseul de vizitare și fluxurile de deplasare în incintă;</li>
         <li>Evitați atingerea suprafețelor ce pot fi atinse frecvent și de alte persoane (balustrade, geamuri de protecție, mânere de închidere/deschidere etc.);</li>
         <li>Respectați recomandările făcute prin intermediul panourilor de atenționare și mesajelor audio transmise la stația de amplificare;</li>
         <li>Respectați îndrumările personalului administrativ/de securitate;</li>
         <li>Vă facem cunoscut că, din motive de siguranță, pavilioanele cu amplasamente interioare (MAIMUȚE, REPTILARIU, EXOTARIU) și spațiile de joacă sunt închise.</li>
     </ol>
     </details>