#galerie-statica{
  padding-left:var(--padding-intern);
  padding-right:var(--padding-intern);
  border:1px solid black;
}
  
#grid-galerie {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap:0.5em;
  grid-column-gap:0.5em;

   
}
#grid-galerie img{
  width: 100%;
}
#grid-galerie figcaption{
  text-align:center;
}
#grid-galerie figure{
  border:4px solid white;
  padding: 10px;
  border-radius: 10px;
  background-color:white;
  font-family: carelia;




}


#grid-galerie img{
  border-radius:10px;
}



#grid-galerie figure:nth-child(5) {
  opacity:0;
}
  
#grid-galerie figure:nth-child(8) {
  opacity:0;
  
}





@font-face {
  font-family: carelia;
  src: url("../fonturi/carelia-upright.ttf");
}
h1{


font-family: carelia;
}

