#hamburger{
    display:block;
}
/* ascuns*/
ul.meniu{
    display:none;
    position:absolute;
    width:100%;
}

/*facem vizibil*/
#ch-menu:checked+ul.meniu{
    display: block;
    animation: apare 0.3s ;
    transform-origin: 0 0;
    
}

/*toata latimea containerului*/
nav ul.meniu li{
    width:100%;
    
}

/*nu impingem restul continutului*/
nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:20;
}
@keyframes apare {
    0% {
        
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}



.home{
    display:none;
}